@import 'variables';

.color {
    &-white {
        color: $white;
    }
    &-black {
        color: $black;
    }
    &-yellow {
        color: $yellow;
    }
    &-blue {
        color: $blue;
    }
}

